<div class="main-content">
  <div class="container-fluid">
      <div class="row">
          <div class="col-md-4">
              <div class="card card-profile">
                  <div class="card-avatar">
                      <a href="javascript:void(0)">
                          <img class="img" src="./assets/img/faces/marc.jpg" />
                      </a>
                  </div>
                  <div class="card-body">
                      <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                      <h4 class="card-title">Aric Lawrence</h4>
                      <p class="card-description">
                          What do you want to read?
                      </p>
                      <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
            <div class="card card-profile">
                <div class="card-avatar">
                    <a href="javascript:void(0)">
                        <img class="img" src="./assets/img/faces/marc.jpg" />
                    </a>
                </div>
                <div class="card-body">
                    <h6 class="card-category text-gray">CEO / Co-Founder</h6>
                    <h4 class="card-title">Cavalery Mathias</h4>
                    <p class="card-description">
                        In god we trust
                    </p>
                    <a href="javascript:void(0)" class="btn btn-danger btn-round">Follow</a>
                </div>
            </div>
        </div>
      </div>
  </div>
</div>
